*.7z
tools/utils/.dir
tools/utils/.cpy
tools/utils/.recover
/system/
result
/flake.nix
/flake.lock
tools/vim/.vim/bundle/*
!tools/vim/.vim/bundle/ayu.vim
programs/git/default.nix
programs/zsh/default.nix
/users/*
!/users/install.sh
